<div class="source-finance">
	<div class="source-first">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Create Contact Form</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<form>
					<mat-form-field>
						<mat-label>Source of Contact</mat-label>
						<mat-select [(value)]="contactSource" placeholder="Source of contact">
							<mat-option value="email">Email</mat-option>
            				<mat-option value="website">Website</mat-option>
            				<mat-option value="direct">Direct</mat-option>
            			</mat-select>
					</mat-form-field>
					<mat-form-field>
						<mat-label>Contact Name</mat-label>
						<input  matInput  placeholder="Contact Name" [(ngModel)]="contactName"  name="contactName"  required>
					</mat-form-field>
					<mat-slide-toggle class="example-margin">
        				Slide to unselect
      				</mat-slide-toggle>
				</form>
			</mat-card-content>
			<mat-card-actions>
				<button  mat-raised-button (click)="saveContact()"  color="primary">Save Contact</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<div class="source-second">
		
	</div>
</div>
